$undone-switch-height: 2.5em;
$undone-switch-width: 100%;
$undone-switch-border-radius: 0.625em;
$undone-switch-margin-bottom: 0.25em;
$undone-switch-color: white;

$undone-switch-button-color: silver;
$undone-switch-button-color-active: skyblue;

$undone-switch-after-margin: 0.25em;
$undone-switch-after-width: calc(
  #{$undone-switch-width} / 2 - #{$undone-switch-after-margin}
);
$undone-switch-after-height: $undone-switch-height - 2 *
  $undone-switch-after-margin;
$undone-switch-after-border-radius: $undone-switch-border-radius -
  $undone-switch-after-margin / 2;
$undone-switch-after-background-color: white;
$undone-switch-after-z-index: 10;

$undone-switch-set-after-left: calc(#{$undone-switch-width} / 2);

$undone-switch-transition-time: 0.75s;

$undone-switch-label-width: 50%;
$undone-switch-label-margin: $undone-switch-after-margin;
$undone-switch-label-z-index: 20;

.undone-switch {
  position: relative;
  display: flex;
  width: $undone-switch-width;
  height: $undone-switch-height;
  margin-bottom: $undone-switch-margin-bottom;
  border-radius: $undone-switch-border-radius;
  color: $undone-switch-color;
  line-height: $undone-switch-height;
  background-color: $undone-switch-button-color;
  transition: background-color $undone-switch-transition-time ease;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    border-radius: $undone-switch-after-border-radius;
    margin: $undone-switch-after-margin 0 $undone-switch-after-margin
      $undone-switch-after-margin;
    left: 0;
    width: $undone-switch-after-width;
    height: $undone-switch-after-height;
    background-color: $undone-switch-after-background-color;
    z-index: $undone-switch-after-z-index;
    transition: all $undone-switch-transition-time ease-out;
  }

  &__set {
    background-color: $undone-switch-button-color-active;

    &::after {
      margin: $undone-switch-after-margin $undone-switch-after-margin
        $undone-switch-after-margin 0;
      left: $undone-switch-set-after-left;
    }
  }
}

.label {
  width: $undone-switch-label-width;
  text-align: center;
  z-index: $undone-switch-label-z-index;
  user-select: none;
  transition: color $undone-switch-transition-time ease;

  &__set {
    margin-right: $undone-switch-label-margin;
    &.active {
      color: $undone-switch-button-color-active;
    }
  }

  &__unset {
    margin-left: $undone-switch-label-margin;
    &.active {
      color: $undone-switch-button-color;
    }
  }
}
