.app--header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.app--main {
  background-color: #696980;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.todo--input {
  height: 2em;
  line-height: 2em;
  width: 30vw;
  border: none;
  margin: 0;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

.todo--form {
  z-index: 20;
}

.status-indicator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: calc(30vw + 1.5rem);
  border-radius: 0.625rem;
  margin-bottom: 0.25rem;
  background-color: silver;
  transition: background-color 1s ease;
  overflow: hidden;
}

.status-indicator__done {
  background-color: lightgreen;
}

.status-indicator__editing {
  background-color: skyblue;
}

.status-indicator__busy {
  background-color: skyblue;
}

.status-indicator__busy::after {
  content: '';
  position: absolute;
  height: 2.5rem;
  width: 10vw;
  background-image: linear-gradient(90deg, skyblue, white, skyblue);
  z-index: 10;
  animation: status-indicator__loading 2s ease infinite;
}

@keyframes status-indicator__loading {
  0% {
    left: -10vw;
  }
  100% {
    left: 40vw;
  }
}

.todo--span {
  height: 2rem;
  width: 30vw;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  background-color: white;
  color: black;
  line-height: 2em;
  cursor: default;
  z-index: 20;
}

.icon--wrapper {
  position: absolute;
  right: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  z-index: 30;
}

.icon--wrapper.icon--wrapper__visible {
  opacity: 1;
}

.icon {
  padding: 0 0.25rem;
  cursor: pointer;
}

.icon--check {
  color: lightgreen;
}

.icon--delete {
  color: #cd6155;
}
